__pycache__/
.cache/
.DS_Store
.idea/
.pyinstaller/
.vscode/
*.audio.txt
*.bin
*.build/
*.dist/
*.m4a
*.m4v
*.mp4
*.pyc
*.pyd
*.pyo
*.srt
*.video.ts
*.video.txt
/.venv/
build/
dist/
env.bak/
env/
ENV/
Thumbs.db
build/
dist/
.pyinstaller/
venv.bak/
venv/
